@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--scissors: hsl(40, 84%, 53%);
	--paper: rgb(1, 138, 251);
	--rock: hsl(349, 70%, 56%);
	--lizard: hsl(261, 73%, 60%), hsl(261, 72%, 63%);
	--cyan: hsl(189, 59%, 53%), hsl(189, 58%, 57%);
	--dark: hsl(229, 25%, 31%);
	--score-text: hsl(229, 64%, 46%);
	--outline: rgb(96, 110, 133);
	--background: hsl(214, 47%, 23%), hsl(237, 49%, 15%);
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

img {
	height: auto;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

button {
	border: none;
	cursor: pointer;
}

body {
	text-align: center;
	font-size: 1.6rem;
	font-weight: 600;
	font-family: 'Barlow Semi Condensed', sans-serif;
	color: #fff;
	background-image: linear-gradient(var(--background));
	text-transform: uppercase;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	min-height: 100vh;
	padding: 3em 1em;
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
}
.info-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5em 0.5em 0.5em 1em;
	width: 100%;
	border: 2px solid var(--outline);
	border-radius: 8px;
}
.game-name {
	font-weight: inherit;
	font-size: 2rem;
	line-height: 80%;
	text-align: left;
	color: #fff;
}
.score {
	background-color: #fff;
	padding: 0.5em 2em;
	border-radius: 5px;
	font-size: 1rem;
	font-weight: bold;
	color: var(--score-text);
}
.points {
	font-size: 3.5rem;
	color: var(--dark);
}
.game-box {
	position: relative;
	display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
    padding: 0 1em;
    width: 100%;
}
.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    width: 100%;

}
.btn-box {
    display: flex;
    flex-direction: column;
}
.under-btn {
    margin-top: 2em;
}
.btn-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.btn {
	position: relative;
	width: 120px;
    height: 120px;
	border-radius: 50%;
	background-color: #fff;
	border: 12px solid;
	box-shadow: inset 1px 7px 5px rgb(0, 0, 0, 0.4);
	transition: transform 0.3s;
	z-index: 10;
}
.btn:hover {
	transform: scale(1.1);
}
.btn:active {
	transform: scale(1);
}
.paper {
	border-color: var(--paper);
}
.rock {
	border-color: var(--rock);
}
.scissors {
	border-color: var(--scissors);
}
.btn-wait {
    width: 100px;height: 100px;
    border: none;
    background-color: hsl(214, 47%, 23%);
    margin-top: 1em;
}
.win-info {
	display: flex;
	flex-direction: column;
}
.win-info-text {
font-size: 4rem;
}
.play-again-btn {
text-transform: uppercase;
font-size: 1.8rem;
font-weight: 600;
padding: .7em 3.5em;
border: none;
border-radius: 12px;
color: var(--dark);
letter-spacing: 1px;
margin-top: 1em;
transition: transform 0.3s;
}
.play-again-btn:hover {
	transform: scale(1.1);
}
.play-again-btn:active {
	transform: scale(1);
}
.rules-btn {
	padding: 0.5em 2em;
	background: none;
	border: 2px solid var(--outline);
	border-radius: 12px;
	font-size: inherit;
	text-transform: uppercase;
	color: #fff;
	transition: color 0.3s, background-color 0.3s;
}
.rules-btn:hover {
	background-color: #fff;
	color: var(--dark);
}

.modal {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    align-items: center;
	padding: 3em .5em;
	min-height: 100vh;
	width: 100%;
	background-color: #fff;
	margin: 0 auto;
}
.modal-box {
	position: relative;
    width: 100%;
}
.modal-name {
	color: var(--dark);
	font-size: 3.2rem;
}
.btn.modal-btn {
	border-color: rgb(128, 133, 147, 0.7);
	box-shadow: none;
    width: 80px;
    height: 80px;
    margin: 1.5em 0;
}
.modal-img {
    width: 30px;
	filter: invert(52%) sepia(29%) saturate(149%) hue-rotate(186deg) brightness(95%) contrast(88%);
}
.modal-btn::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	background-color: rgb(94, 103, 117, 0.2);
}
.win-modal {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.beats{
    color: rgb(128, 133, 147, 0.7) ;
}
.close {
    background: none;
    padding: 1.5em;
}
.close-img {
    transition: transform 0.3s;
}
.close:hover .close-img {
transform: scale(1.5);
}
.hide {
    display: none;
}
.circle {
    width: 100px;
    height: 100px;
	margin: 1.5em;
	border-radius: 50%;
}
@media(min-width: 992px) {
	.game-name {
		font-size: 3rem;
	}
	.score {
		font-size: 1.5rem;
		padding: 0.5em 1.5em;
	}
	.points {
		font-size: 4.5rem;
	}
	.rules-btn {
		font-size: 2rem;
	}
	.modal {
		max-width: 700px;
	}
}
